<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="mostrar">Novo documento</button>
    <div class="modal">
        <div class="conteudo" >
            <div class="close">
                +
            </div>
            <label for="estagio111" >Selecione tipo do estágio</label>
            <select name="estagio111" id="estagio111">
                <option value="" selected>Selecione uma opção</option>
                <option value="OR">Obrigatório Remunerado</option>
                <option value="ONR">Obrigatório Não Remunerado</option>
                <option value="RP">Relatório Parcial</option>
                <option value="RF">Relatório Final</option>
                <option value="TR">Termo de rescisão</option>
            </select>
            <button onclick="obterValorSelect()"> Exibir formulário</button>
        </div>
    </div>
    <script>
        document.getElementById("mostrar").addEventListener("click",function() { 
            document.querySelector('.modal').style.display = "flex"; 
        })

        document.querySelector('.close').addEventListener("click", function() {
	        document.querySelector('.modal').style.display = "none";
        });


        function obterValorSelect() {

            var select=document.getElementById("estagio111").value
            
            if (select=="ONR") {
                window.location.href = "formONR.html"
                    
            } else if (select == "OR"){
                window.location.href = "formOR.html"
            
            } else if (select == "RP"){
                window.location.href = "formRP.html"
            
            } else if (select == "RF"){
                window.location.href = "formRF.html"
            
            } else if (select == "TR"){
                window.location.href = "formTR.html"
            
            } else {
                alert("Selecione uma opção válida")
            }
        }
    </script>
</body>
</html>